<?xml version="1.0" encoding="UTF-8"?>


<module xmlns="urn:jboss:module:1.1" name="com.ccv.sco.seguridad">
    <resources>
        <resource-root path="seguridad-servicios-api-1.5.1-SNAPSHOT.jar"/>
    </resources>
    <dependencies>
			
        <module name="org.picketbox"/>
	<module name="org.apache.commons.logging"/>
	<module name="org.apache.commons.lang"/>
   	<module name="javax.security.auth.message.api"/>
        <module name="javax.security.jacc.api"/>
	<module name="javax.resource.api"/>
	<module name="javax.api"/>

    </dependencies>
</module>


